/* GENERAL */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  width: auto;
  /* min-width: 80rem; */
  min-height: 100vh;
  background-color: #fff;
  /* overflow-x: hidden; */
  margin-bottom: 2.4rem;
}

.error {
  font: normal normal bold 1.3rem/2.4rem Roboto;
  letter-spacing: 0px;
  color: #101010;
  text-transform: uppercase;
}

/* HEADER */

.header {
  background: #efefef 0% 0% no-repeat padding-box;
  width: 100%;
  height: 8rem;
  display: flex;
  align-items: center;
  justify-content: flex-star;
}

.header img {
  margin-left: 2rem;
}

/* SECTION */

section {
  margin-top: 3.5rem;
  margin-left: 4.9rem;
  margin-right: 4rem;
}

.section-header {
  width: 100%;
  border-bottom: 1px solid #ccc;
  position: relative;
}

/* TOOLTIP */

.header-info {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-bottom: 1rem;
}

.info {
  z-index: 1;
  position: relative;
  width: 1.6rem;
  height: 1.6rem;
  margin-left: 1.2rem;
}

.info:hover .tooltip {
  opacity: 0;
}

.info:hover .tooltip-open {
  opacity: 1;
}
.info:hover .info-content {
  opacity: 1;
}

.tooltip {
  opacity: 1;
  width: 1.6rem;
  height: 1.6rem;
  border: 1px solid #d0d0d0;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #d0d0d0;
  font-size: 1.5rem;
  position: absolute;
  top: 0;
  left: 0;
}

.tooltip-open {
  opacity: 0;
  width: 1.6rem;
  height: 1.6rem;
  border: 1px solid #d32e2e;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: #d32e2e;
  font-size: 1rem;
  position: absolute;
  top: 0;
  left: 0;
}

.info-content {
  transition: all 0.3s;
  opacity: 0;
  width: 22.1rem;
  height: 5.1rem;
  background: #f0f0f0 0% 0% no-repeat padding-box;
  box-shadow: 1px 1px 2px #00000043;
  border-radius: 0.5rem;
  position: absolute;
  top: -3;
  left: -2;
  z-index: -1;
  color: #505050;
  font-size: 1.2rem;
  line-height: 1.7rem;
  letter-spacing: 0;
  padding-left: 2.6rem;
  padding-top: 3px;
}

@media only screen and (max-width: 36em) {
  .info-content {
    width: 14rem;
    height: 7rem;
    padding-right: 1rem;
  }
}

.section-header img {
  width: 6rem;
  height: 6rem;
}

.section-header p {
  align-self: flex-end;
  font: normal normal normal 1.3rem/1.8rem Roboto;
  margin-bottom: 0.5rem;
}

.fields-info {
  position: absolute;
  right: 0;
  bottom: 0;
}

section h1 {
  color: #515151;
  font: normal normal normal 2.5rem Roboto;
  letter-spacing: 0;
  margin-left: 1rem;
}

/* ARTICLE */

article {
  margin-top: 2.4rem;
  background: #f5f5f5 0% 0% no-repeat padding-box;
  box-shadow: 0px 2px 2px #00000067;
  border-radius: 4px;
  padding: 0 2rem;
  padding-bottom: 2.4rem;
}

/* FORM */

#user-register-form {
  display: grid;
  grid-template-areas:
    "name name name name cpf cpf birth"
    "uf uf uf city city city button";
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(2, 1fr);
  padding-top: 2rem;
  gap: 2rem;
}

@media only screen and (max-width: 52em) {
  #user-register-form {
    grid-template-areas:
      "name name name name"
      "cpf cpf birth birth"
      "uf uf city city"
      "button  button button button ";
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, minmax(1fr, auto));
  }
}

@media only screen and (max-width: 43em) {
  #user-register-form {
    grid-template-areas:
      "name"
      "cpf"
      "birth"
      "uf"
      "city"
      "button";
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, minmax(1fr, auto));
  }
}

.form-item {
  display: inline-flex;
  flex-direction: column;
}

.form-item label {
  font: normal normal normal 1.4rem/2rem Roboto;
  letter-spacing: 0px;
  color: #202020;
  min-width: 13.5rem;
}
.form-item input {
  height: 3rem;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #d0d0d0;
  border-radius: 4px;
  text-align: left;
  font: normal normal normal 1.5rem/2.1rem Roboto;
  letter-spacing: 0px;
  padding-left: 1rem;
}

.form-item input::placeholder {
  color: #b0b0b0;
}

.birth-input {
  position: relative;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  background: transparent;
  bottom: 0;
  color: transparent;
  cursor: pointer;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}

input[type="date"]:invalid::-webkit-datetime-edit {
  color: #999;
}

.form-item select {
  height: 3rem;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #d0d0d0;
  border-radius: 4px;
  text-align: left;
  font: normal normal normal 1.5rem/2.1rem Roboto;
  letter-spacing: 0px;
  color: #202020;
  padding-left: 1rem;
}

.form-item select:disabled {
  color: #b0b0b0;
}

.btn-submit {
  background: #5cac21 0% 0% no-repeat padding-box;
  border: none;
  border-radius: 4px;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: flex-end;
  transition: all 0.3s;
}

.btn-submit:hover {
  background: #65bf24 0% 0% no-repeat padding-box;
}

.btn-submit span {
  width: 1.3rem;
  height: 1.4rem;
}

.btn-submit p {
  text-align: center;
  font: normal normal bold 1.2rem/1.6rem Roboto;
  letter-spacing: 0px;
  color: #ffffff;
  margin-left: 1.2rem;
}

select:invalid {
  color: #b0b0b0;
}

/* FORM ITEM (GRID) */
.name-input {
  grid-area: name;
}
.cpf-input {
  grid-area: cpf;
}
.birth-input {
  grid-area: birth;
}
.uf-input {
  grid-area: uf;
}
.city-input {
  grid-area: city;
}

.btn-submit {
  grid-area: button;
}
/* TABLE */

.table-wrapper {
  overflow-x: auto;
}

table {
  margin-top: 2rem;
  width: 100%;
  border-collapse: collapse;
}

table th {
  text-align: left;
  font: normal normal bold 1.3rem/2.4rem Roboto;
  letter-spacing: 0px;
  color: #101010;
  text-transform: uppercase;
  background: #e0e0e0 0% 0% no-repeat padding-box;
  height: 4rem;
  border: 1px solid #d0d0d0;
  padding: 0 1rem;
}

table tr:hover td {
  background: #f5f5f5 0% 0% no-repeat padding-box;
}

table td {
  background: #ffffff 0% 0% no-repeat padding-box;
  font-size: 1.2rem;
  color: #303030;
  letter-spacing: 0;
  line-height: 1.6rem;
  height: 3.9rem;
  border: 1px solid #d0d0d0;
  padding: 0 1rem;
}

table .icon {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
